<h1>Event Search</h1>

<form onSubmit={{action "searchForEvents"}}>
  {{input type="text" value=keywords}}
  <button type="submit">Search</button>
</form>

<ul>
  <li>
    {{#link-to "contact"}}
      Contact
      {{/link-to}}
  </li>
  <li>
    {{#link-to "about"}}
      About
    {{/link-to}}
  </li>
</ul>

{{outlet}}
