<h1>Event Search</h1>

{{input type="text" value=keywords}}
<button onclick={{action "searchForEvents"}}>Search</button>

<ul>
  <li>
    {{#link-to "contact"}}
      Contact
      {{/link-to}}
  </li>
  <li>
    {{#link-to "about"}}
      About
    {{/link-to}}
  </li>
</ul>

{{outlet}}
