<p>
  Event Count: {{model.length}}
</p>

{{!-- model is the array returned from search.js --}}

{{#each sortedEvents as |eventObj|}}
  {{!-- <div class="events"> --}}
    {{eventful-event class="events" event=eventObj}} {{!-- event in this case is the event in the component, eventObj is the object looped to --}}
  {{!-- </div> --}}
{{/each}}
{{outlet}}
